body{
margin-left: 5px;
margin-right: 5px;
font-family: 'Roboto Mono', monospace;
}

.fill-viewport{
  height: 100vh;
}

#header{
background-image: url("../images/baniere.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color:white;
padding-top:30px;
}
#down-button{
  display:block;
  position:absolute;
  right:50%;
  bottom:0px;
}
#down-button a{
  color:inherit;
}
.tres-grand{
font-weight: 700;
font-size: 60px;
}
.grand{
  font-weight: 700;
  font-size: 30px;
}
.vertical-center {
padding-top:10%;
}
@media (max-width:786px){
  .tres-grand{
  font-weight: 600;
  font-size: 40px;
  }
  .grand{
    font-weight: 600;
    font-size: 25px;
  }
}

#competences{
  padding-top:50px;
}

#competences img {
	margin-left:auto;
	margin-right:auto;
}
